/* ikiwiki local style sheet */

/* Add local styling here, instead of modifying style.css. */

html * {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    padding: 10px;
}

.smallestPC { font-size: 100%; }
.smallPC { font-size: 115%; }
.normalPC { font-size: 130%; }
.bigPC { font-size: 145%; }
.biggestPC { font-size: 165%; }